include template/base.pug
block content
    if errorMsg
        h3 #{errorMsg}
    form(method="POST")
        input(name="email" type="email" placeholder="email@email.com" required)
        input(name="password" type="password" placeholder="password" required)
        input(type="submit" value="enter")
        br
        a(href="/users/github/start") Continue with Github